# <span style="color: mediumvioletred;"><u>**Lecture 8 Data Wrangling (Lecture and Quiz Questions):**</u></span>
#### <span style="color: MediumPurple;">Sophia Dalal </span>
#### <span style="color: MediumPurple;">March 14 2025  </span>

### <span style="color: lightblue;"><u>Working with Data</u></span>

### <span style="color: lightgreen;">Import Packages </span>

In [1]:
import pandas as pd  # Package to work with data

import numpy as np  # Numerical analysis package

In [6]:
# Import the data.csv file as assign it to the variable df
df = pd.read_csv('/Users/sophiadalal/Desktop/Health Data Science /(Edited csv) Pregnancy During the COVID-19 Pandemic.csv')

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
# Print the first 20 methods and attributes of df suing the dir function
dir(df)[:20]

['Birth_Length',
 'Birth_Weight',
 'Delivery_Mode',
 'Edinburgh_Postnatal_Depression_Scale',
 'Gestational_Age_At_Birth',
 'Language',
 'Maternal_Age',
 'Maternal_Education',
 'NICU_Stay',
 'OSF_ID',
 'PROMIS_Anxiety',
 'T',
 'Threaten_Baby_Danger',
 'Threaten_Baby_Harm',
 'Threaten_Life',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__']

In [7]:
# Use the head method to print the first 5 rows of df
df.head()

,OSF_ID,Maternal_Age,Maternal_Education,Edinburgh_Postnatal_Depression_Scale,PROMIS_Anxiety,Gestational_Age_At_Birth,Delivery_Date(converted to month and year),Birth_Length,Birth_Weight,Delivery_Mode,NICU_Stay,Language,Threaten_Life,Threaten_Baby_Danger,Threaten_Baby_Harm,NICU_Stay.1
0,1,38.3,3.0,9.0,13.0,39.71,Dec-20,49.20,3431.0,0.0,0.0,0,2,3,27,NaN
1,2,34.6,1.0,4.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,0,2,33,92,NaN
2,3,34.3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,,,,NaN
3,4,28.8,3.0,9.0,20.0,38.57,Dec-20,41.00,2534.0,0.0,0.0,1,53,67,54,0.0
4,5,36.5,1.0,14.0,20.0,39.86,Oct-20,53.34,3714.0,1.0,0.0,0,23,32,71,0.0

In [8]:
# Print the shape of df
df.shape

(10772, 16)

In [9]:
# Print the columns of df
df.columns

Index(['OSF_ID', 'Maternal_Age', 'Maternal_Education',
       'Edinburgh_Postnatal_Depression_Scale', 'PROMIS_Anxiety',
       'Gestational_Age_At_Birth',
       'Delivery_Date(converted to month and year)', 'Birth_Length',
       'Birth_Weight', 'Delivery_Mode', 'NICU_Stay', 'Language',
       'Threaten_Life', 'Threaten_Baby_Danger', 'Threaten_Baby_Harm',
       'NICU_Stay.1'],
      dtype='object')

In [10]:
# Print the dimensions of df
df.ndim

2

In [11]:
# Print the size of df
df.size

172352

In [12]:
# Print the type of df
df.dtypes

OSF_ID                                          int64
Maternal_Age                                  float64
Maternal_Education                            float64
Edinburgh_Postnatal_Depression_Scale          float64
PROMIS_Anxiety                                float64
Gestational_Age_At_Birth                      float64
Delivery_Date(converted to month and year)     object
Birth_Length                                  float64
Birth_Weight                                  float64
Delivery_Mode                                 float64
NICU_Stay                                     float64
Language                                        int64
Threaten_Life                                  object
Threaten_Baby_Danger                           object
Threaten_Baby_Harm                             object
NICU_Stay.1                                   float64
dtype: object

### <span style="color: lightgreen;"> Selecting Rows and Columns </span>

In [14]:
# Assign the Age column in df to the variable age_column
age_column = df['Maternal_Age']

In [15]:
# Print the type of age_column
type(age_column)

pandas.core.series.Series

In [17]:
# Assign the Age column in df to the variable age_column and use dot notation
age_column = df.Maternal_Age

In [18]:
# Print the first 5 rows of age_column
age_column.head()

0    38.3
1    34.6
2    34.3
3    28.8
4    36.5
Name: Maternal_Age, dtype: float64

In [20]:
Maternal_Education = df.Maternal_Education
type(Maternal_Education)

pandas.core.series.Series

In [21]:
Maternal_Education.tail()

10767    1.0
10768    1.0
10769    2.0
10770    2.0
10771    3.0
Name: Maternal_Education, dtype: float64

In [23]:
# Convert the age_column to a numpy array and assign it to the variable age
age = age_column.to_numpy()

In [24]:
# Print the type of age
type(age)

numpy.ndarray

In [33]:
# Calculate the average age in age_column
age_column.mean()
print(age_column.mean())

31.844601819716722

In [32]:
# Calculate the minimum age in age_column
age_column.min()
print(age_column.min())

17.0

In [31]:
# Calculate the maximum age in age_column
age_column.max()
# Just print the max age 
print(age_column.max())

49.7

In [34]:
# Display the first row of data in df using the iloc method
df.iloc[0] # Note the use of square brackets

OSF_ID                                             1
Maternal_Age                                    38.3
Maternal_Education                               3.0
Edinburgh_Postnatal_Depression_Scale             9.0
PROMIS_Anxiety                                  13.0
Gestational_Age_At_Birth                       39.71
Delivery_Date(converted to month and year)    Dec-20
Birth_Length                                    49.2
Birth_Weight                                  3431.0
Delivery_Mode                                    0.0
NICU_Stay                                        0.0
Language                                           0
Threaten_Life                                      2
Threaten_Baby_Danger                               3
Threaten_Baby_Harm                                27
NICU_Stay.1                                      NaN
Name: 0, dtype: object

In [35]:
# Select rows 2, 5, and 7 using the iloc method
df.iloc[[1, 4, 6]]

,OSF_ID,Maternal_Age,Maternal_Education,Edinburgh_Postnatal_Depression_Scale,PROMIS_Anxiety,Gestational_Age_At_Birth,Delivery_Date(converted to month and year),Birth_Length,Birth_Weight,Delivery_Mode,NICU_Stay,Language,Threaten_Life,Threaten_Baby_Danger,Threaten_Baby_Harm,NICU_Stay.1
1,2,34.6,1.0,4.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,0,2,33,92,NaN
4,5,36.5,1.0,14.0,20.0,39.86,Oct-20,53.34,3714.0,1.0,0.0,0,23,32,71,0.0
6,7,34.5,0.0,8.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,0,24,30,32,NaN

In [36]:
# Select the first two rows using the iloc method
df.iloc[0:2]

,OSF_ID,Maternal_Age,Maternal_Education,Edinburgh_Postnatal_Depression_Scale,PROMIS_Anxiety,Gestational_Age_At_Birth,Delivery_Date(converted to month and year),Birth_Length,Birth_Weight,Delivery_Mode,NICU_Stay,Language,Threaten_Life,Threaten_Baby_Danger,Threaten_Baby_Harm,NICU_Stay.1
0,1,38.3,3.0,9.0,13.0,39.71,Dec-20,49.2,3431.0,0.0,0.0,0,2,3,27,NaN
1,2,34.6,1.0,4.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,0,2,33,92,NaN

In [37]:
# Select the first two rows using the iloc method
df.iloc[:2]

,OSF_ID,Maternal_Age,Maternal_Education,Edinburgh_Postnatal_Depression_Scale,PROMIS_Anxiety,Gestational_Age_At_Birth,Delivery_Date(converted to month and year),Birth_Length,Birth_Weight,Delivery_Mode,NICU_Stay,Language,Threaten_Life,Threaten_Baby_Danger,Threaten_Baby_Harm,NICU_Stay.1
0,1,38.3,3.0,9.0,13.0,39.71,Dec-20,49.2,3431.0,0.0,0.0,0,2,3,27,NaN
1,2,34.6,1.0,4.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,0,2,33,92,NaN

In [38]:
# Select the last three rows
df.iloc[-3:]

,OSF_ID,Maternal_Age,Maternal_Education,Edinburgh_Postnatal_Depression_Scale,PROMIS_Anxiety,Gestational_Age_At_Birth,Delivery_Date(converted to month and year),Birth_Length,Birth_Weight,Delivery_Mode,NICU_Stay,Language,Threaten_Life,Threaten_Baby_Danger,Threaten_Baby_Harm,NICU_Stay.1
10769,10770,27.7,2.0,4.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,1,21,93,76,NaN
10770,10771,23.0,2.0,12.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,0,65,94,94,NaN
10771,10772,34.6,3.0,18.0,30.0,38.29,Mar-21,NaN,4196.0,NaN,NaN,0,84,73,94,NaN

In [39]:
# Extract the first 5 rows for the first and third columns using the iloc method
df.iloc[:5, [0, 2]]

   OSF_ID  Maternal_Education
0       1                 3.0
1       2                 1.0
2       3                 1.0
3       4                 3.0
4       5                 1.0

In [41]:
# Extract the first five rows for the Education and Age colunms using the loc method
df.loc[:4, ['Maternal_Education', 'Maternal_Age']] # Note the difference in row index compared to the iloc

   Maternal_Education  Maternal_Age
0                 3.0          38.3
1                 1.0          34.6
2                 1.0          34.3
3                 3.0          28.8
4                 1.0          36.5

In [43]:
df.loc[10:15, ['Maternal_Education', 'Maternal_Age']]

    Maternal_Education  Maternal_Age
10                 0.0          28.6
11                 1.0          29.5
12                 1.0          29.7
13                 3.0          29.2
14                 4.0          31.8
15                 2.0          30.1

In [45]:
# Extract the value in row 2, column 1 using the iat method
df.iat[1, 0]
# print the value in row 2, column 1
print(df.iat[1, 0])

2

### <span style="color: lightgreen;"> Filtering Data </span>

#### <span style="color: lightpink;"> Finding unique values in a column </span>

In [47]:
# Print the unique values in the Education column
df.Maternal_Education.unique()

array([ 3.,  1.,  0., nan,  2.,  4.])

#### <span style="color: lightpink;"> Ages of all Education with level 4 (Doctoral Degrees) </span>

In [51]:
# Select the ages of those who have a maternal education of 4 and assign it to the variable age_doctoraldegrees
age_doctoraldegrees = df.loc[df.Maternal_Education == 4]['Maternal_Age'].to_numpy()
age_doctoraldegrees

array([31.8, 36.4, 32.7, 35.3, 34.7, 34.3, 35.1, 32.9, 35.8, 31.3, 39.3,
       36.6, 30.8, 37.4, 25.5, 30.6, 33.1, 33.5, 36.1, 41.8, 31.8, 30.5,
       39.8, 35.8, 40.2, 39.1, 33.7, 37. , 33.9, 34.1, 32.7, 39.3, 27.9,
       33.6, 31.2, 35.8, 33.3, 31.2, 38. , 33.3, 38.5, 27.1, 31.7, 27.5,
       32.3, 36.8, 33.5, 32.7, 36.5, 35.3, 30.6, 33.5, 35. , 28.3, 34.5,
       34.9, 29.9, 38.4, 35.3, 28.3, 36.7, 32.2, 34.3, 38.5, 34.8, 34.7,
       35. , 35.8, 40.4, 35.4, 32.3, 34.2, 33.2, 31.8, 39.2, 42.1, 33.9,
       30.2, 31.7, 31.3, 40.5, 35.9, 35.7, 25.7, 31. , 27.3, 32.8, 36.2,
       30. , 38.8, 33.5, 29.7, 32.1, 26.8, 32. , 29.7, 35.4, 31.8, 37.9,
       39.1, 41.3, 28.9, 39.7, 32.7, 31.8, 29.4, 36.3, 35.2, 31.6, 32.3,
       31.7, 32.8, 35. , 34.1, 34.6, 32. , 38.5, 31.9, 31.2, 31.4, 29.4,
       36. , 31.3, 32.5, 32.1, 30. , 32.3, 36.2, 36.3, 30.8, 34.8, 28.6,
       31.1, 34.8, 31.3, 31. , 49. , 34.7, 31.6, 40.4, 31.8, 32.4, 28.6,
       32.8, 39.3, 34.3, 31.3, 32.1, 34.3, 32.8, 43. , 38.3, 30.6, 31.8,
       32.2, 28.9, 32.5, 32.5, 33.8, 35.5, 41.7, 32.8, 35.4, 40. , 37.8,
       30.2, 34.8, 38. , 36.7, 39. , 36.8, 34.8, 34.5, 28.5, 38.3, 32.4,
       27.7, 35. , 30.3, 40.1, 30.2, 33.1, 34.1, 35.3, 31.4, 31.4, 32.8,
       34.3, 35.2, 31.8, 36.8, 32.8, 41.8, 32.6, 30.4, 38.8, 37.9, 34.7,
       37.1, 35.3, 34.1, 31.8, 33.9, 37.2, 35.5, 36.3, 35.8, 36.5, 34.9,
       32.8, 37.5, 35.3, 32.9, 39.7, 30.6, 37.4, 25.4, 42. , 29. , 30.8,
       29. , 32.6, 29.2, 31.3, 33. , 40. , 40.3, 34.2, 30. , 38.5, 33.2,
       31.1, 35.3, 34.1, 34.3, 34.6, 37. , 29.4, 35.3, 30.8, 28.1, 37.9,
       33.6, 36.8, 31.6, 32.6, 36.1, 38.3, 32.7, 34.5, 33.9, 39. , 36.3,
       30.7, 34.7, 31. , 33.9, 40.8, 38.1, 28.9, 34.2, 28.7, 35.4, 33.6,
       33.6, 32.5, 27.2, 33.6, 32. , 32.1, 30.2, 30.1, 38.7, 30.9, 33.1,
       33.6, 30.9, 33.7, 35.1, 33.8, 32.9, 34.1, 36.4, 40.2, 37.8, 34.5,
       33.8, 36.1, 37.3, 37. , 32.8, 35.3, 33.5, 39.7, 38.3, 39.6, 30.8,
       34.8, 27.6, 33.8, 36.9, 35.8, 40.1, 33.6, 37.9, 35.8, 36.8, 33. ,
       34.6, 35.9, 35.3, 36.1, 44.8, 35.5, 33.5, 36.8, 32.9, 32.8, 29.7,
       39.6, 37.1, 33.2, 31.9, 32.1, 32.8, 36.4, 36.8, 37.2, 32.9, 38. ,
       35.3, 35.9, 32.6, 43.3, 34.8, 31.8, 33. , 31.7, 41.5, 31.4, 32.1,
       31.6, 29.9, 35.8, 33.5, 32.3, 32. , 32.7, 29.9, 31.7, 36.6, 30.2,
       40.2, 32.3, 36.8, 41.1, 32.8, 35.3, 37.6, 35.3, 37.8, 31.7, 28.3,
       33.1, 29.3, 32.3, 38.9, 32.2, 26.8, 30.2, 33.9, 36.5, 35.9, 29.2,
       37.3, 35.8, 31.2, 32.5, 30.9, 32.2, 41. , 35. , 36.2, 33.7, 33.1,
       32.9, 27. , 40. , 26.2, 34.4, 34.8, 31.8, 34.4, 34.3, 34.1, 29.1,
       31.2, 42.8, 29. , 30.5, 40.3, 33. , 27.9, 35.7, 32.3, 42.6, 30.5,
       34.8, 34.8, 34.1, 29.2, 36. , 29.6, 38.3, 30.5, 29.9, 33.4, 35.8,
       32. , 37.5, 34. , 35.3, 31.8, 30.7, 38.7, 36.8, 27.7, 30.3, 39.1,
       31.6, 30.7, 30.8, 34.8, 30.8, 32.5, 36.8, 31.4, 32.6, 29.6, 32.8,
       35.3, 30.8, 34.8, 37.7, 33. , 38.3, 34.8, 37.8, 36.6, 31.3, 33.9,
       36.6, 38.3, 41. , 29.3, 40.6, 32.1, 31.2, 37.1, 33.6, 35.7, 32.3,
       38.7, 34.8, 38.3, 29.1, 38.8, 35.8, 33.4, 33.3, 24.8, 30.5, 33.3,
       32.7, 36.7, 35.2, 38.3, 35.1, 30.7, 35.7, 34.4, 27.2, 36.9, 28.9,
       32.1, 34.5, 34.2, 34.6, 34.1, 31.3, 34.5, 33.3, 37.1, 34.7, 31.8,
       34.8, 34.8, 35.6, 35.4, 40.7, 38.6, 31.4, 34.8, 36.2, 35.7, 30.5,
       31.8, 38.8, 39.9, 36.6, 29.1, 28. , 34.9, 30.5, 36.1, 38.8, 33.8,
       31.9, 38.2, 36.6, 32. , 32.9, 39.3, 35.3, 30.5, 38.2, 34.8, 34.8,
       33.3, 34.7, 36.2, 34.7, 27.8, 42.9, 31.6, 34.4, 32.9, 41.8, 30.6,
       32.8, 33.5, 35. , 37.3, 40.8, 25.8, 28.8, 32.3, 35.2, 33. , 34.1,
       32.1, 36.6, 36.8, 38.7, 35.6, 29.9, 38.4, 31.1, 32.3, 28.6, 33.8,
       31.9, 34.2, 32.6, 33.8, 37. , 35.5, 28.3, 40.8, 33.9, 40. , 34.5,
       33.7, 30.3, 34.5, 43.8, 35.2, 35.3, 39.5, 35. , 31.8, 43.8, 32.2,
       38.9, 31.9, 36.8, 30.2, 33.8, 26.1, 34.4, 34.2, 36.8, 36.2, 34.8,
       35.4, 32.9, 36.5, 31.3, 34.1, 30.9, 34.8, 38.2, 31. , 33.2, 33.3,
       36. , 34. , 37.6, 32.3, 28.3, 29.3, 33. , 33.6, 29.7, 32.8, 34.6,
       29.8, 31.6, 43.7, 34.4, 33.3, 35.3, 29.1, 31.1, 27. , 39.8, 28.3,
       38.3, 31.9, 32.4, 39.8, 34.4, 30.3, 32. , 36.3, 33.5, 30.8, 34.2,
       40. , 34.1, 31.7, 32.6, 34.8, 32. , 30.7, 31.9, 37.7, 34.5, 35.3,
       30.2, 30. , 36.8, 37. , 33.3, 29.8, 35.3, 42.2, 29.4, 37.6, 32.5,
       39.2, 37.7, 38.2, 36.7, 34.8, 31.6, 31.3, 42.5, 43.1, 32.8, 29.4,
       36. , 37.8, 37.8, 37.8, 35.9, 32.4, 39.6, 39.8, 33.4, 31.1, 31.1,
       36.8, 33.8, 33.8, 34.8, 36.5, 33.7, 34.5, 35.5, 36.3, 37.3, 27.8,
       26.3, 37.1, 44.3, 30.3, 34.3, 35.2, 36.6, 39.1, 36.9, 29.7, 31.6,
       39.8, 40.8, 26.1, 38.8, 33.7, 34.9, 42.7, 29.1, 31.2, 41.3, 33.7,
       25.3, 36. , 26.7, 32.5, 31.6, 32.5, 43.7, 38.1, 29.1, 31.9, 32.7,
       38. , 37.2, 33.8, 30.5, 30.3, 31.3, 36.3, 35.2, 39.2, 37.1, 33.2,
       30.5, 34.1, 29.4, 37.2, 33.6, 31.5, 39.3, 33.9, 37.6, 33.5, 34.9,
       31.9, 33. , 36.2, 30.2, 31.5, 31. , 35.2, 33.5, 38.3, 35.3, 34.8,
       36.9, 34.8, 36.8, 37.5, 32.2, 33.5, 33. , 36.6, 36.3, 36.3, 32.7,
       35.2, 37.8, 36.8, 31.3, 34. , 33.1, 30.5, 37.1, 29.6, 35.3, 33.1,
       34.6, 34.8, 33.8, 43.8, 32. ])

In [53]:
# Use the loc method to select the ages of those who have doctoral degrees and assign it to the variable age_doctoraldegrees
age_doctoraldegrees = df.loc[df.Maternal_Education == 4]['Maternal_Age'].to_numpy()
age_doctoraldegrees

array([31.8, 36.4, 32.7, 35.3, 34.7, 34.3, 35.1, 32.9, 35.8, 31.3, 39.3,
       36.6, 30.8, 37.4, 25.5, 30.6, 33.1, 33.5, 36.1, 41.8, 31.8, 30.5,
       39.8, 35.8, 40.2, 39.1, 33.7, 37. , 33.9, 34.1, 32.7, 39.3, 27.9,
       33.6, 31.2, 35.8, 33.3, 31.2, 38. , 33.3, 38.5, 27.1, 31.7, 27.5,
       32.3, 36.8, 33.5, 32.7, 36.5, 35.3, 30.6, 33.5, 35. , 28.3, 34.5,
       34.9, 29.9, 38.4, 35.3, 28.3, 36.7, 32.2, 34.3, 38.5, 34.8, 34.7,
       35. , 35.8, 40.4, 35.4, 32.3, 34.2, 33.2, 31.8, 39.2, 42.1, 33.9,
       30.2, 31.7, 31.3, 40.5, 35.9, 35.7, 25.7, 31. , 27.3, 32.8, 36.2,
       30. , 38.8, 33.5, 29.7, 32.1, 26.8, 32. , 29.7, 35.4, 31.8, 37.9,
       39.1, 41.3, 28.9, 39.7, 32.7, 31.8, 29.4, 36.3, 35.2, 31.6, 32.3,
       31.7, 32.8, 35. , 34.1, 34.6, 32. , 38.5, 31.9, 31.2, 31.4, 29.4,
       36. , 31.3, 32.5, 32.1, 30. , 32.3, 36.2, 36.3, 30.8, 34.8, 28.6,
       31.1, 34.8, 31.3, 31. , 49. , 34.7, 31.6, 40.4, 31.8, 32.4, 28.6,
       32.8, 39.3, 34.3, 31.3, 32.1, 34.3, 32.8, 43. , 38.3, 30.6, 31.8,
       32.2, 28.9, 32.5, 32.5, 33.8, 35.5, 41.7, 32.8, 35.4, 40. , 37.8,
       30.2, 34.8, 38. , 36.7, 39. , 36.8, 34.8, 34.5, 28.5, 38.3, 32.4,
       27.7, 35. , 30.3, 40.1, 30.2, 33.1, 34.1, 35.3, 31.4, 31.4, 32.8,
       34.3, 35.2, 31.8, 36.8, 32.8, 41.8, 32.6, 30.4, 38.8, 37.9, 34.7,
       37.1, 35.3, 34.1, 31.8, 33.9, 37.2, 35.5, 36.3, 35.8, 36.5, 34.9,
       32.8, 37.5, 35.3, 32.9, 39.7, 30.6, 37.4, 25.4, 42. , 29. , 30.8,
       29. , 32.6, 29.2, 31.3, 33. , 40. , 40.3, 34.2, 30. , 38.5, 33.2,
       31.1, 35.3, 34.1, 34.3, 34.6, 37. , 29.4, 35.3, 30.8, 28.1, 37.9,
       33.6, 36.8, 31.6, 32.6, 36.1, 38.3, 32.7, 34.5, 33.9, 39. , 36.3,
       30.7, 34.7, 31. , 33.9, 40.8, 38.1, 28.9, 34.2, 28.7, 35.4, 33.6,
       33.6, 32.5, 27.2, 33.6, 32. , 32.1, 30.2, 30.1, 38.7, 30.9, 33.1,
       33.6, 30.9, 33.7, 35.1, 33.8, 32.9, 34.1, 36.4, 40.2, 37.8, 34.5,
       33.8, 36.1, 37.3, 37. , 32.8, 35.3, 33.5, 39.7, 38.3, 39.6, 30.8,
       34.8, 27.6, 33.8, 36.9, 35.8, 40.1, 33.6, 37.9, 35.8, 36.8, 33. ,
       34.6, 35.9, 35.3, 36.1, 44.8, 35.5, 33.5, 36.8, 32.9, 32.8, 29.7,
       39.6, 37.1, 33.2, 31.9, 32.1, 32.8, 36.4, 36.8, 37.2, 32.9, 38. ,
       35.3, 35.9, 32.6, 43.3, 34.8, 31.8, 33. , 31.7, 41.5, 31.4, 32.1,
       31.6, 29.9, 35.8, 33.5, 32.3, 32. , 32.7, 29.9, 31.7, 36.6, 30.2,
       40.2, 32.3, 36.8, 41.1, 32.8, 35.3, 37.6, 35.3, 37.8, 31.7, 28.3,
       33.1, 29.3, 32.3, 38.9, 32.2, 26.8, 30.2, 33.9, 36.5, 35.9, 29.2,
       37.3, 35.8, 31.2, 32.5, 30.9, 32.2, 41. , 35. , 36.2, 33.7, 33.1,
       32.9, 27. , 40. , 26.2, 34.4, 34.8, 31.8, 34.4, 34.3, 34.1, 29.1,
       31.2, 42.8, 29. , 30.5, 40.3, 33. , 27.9, 35.7, 32.3, 42.6, 30.5,
       34.8, 34.8, 34.1, 29.2, 36. , 29.6, 38.3, 30.5, 29.9, 33.4, 35.8,
       32. , 37.5, 34. , 35.3, 31.8, 30.7, 38.7, 36.8, 27.7, 30.3, 39.1,
       31.6, 30.7, 30.8, 34.8, 30.8, 32.5, 36.8, 31.4, 32.6, 29.6, 32.8,
       35.3, 30.8, 34.8, 37.7, 33. , 38.3, 34.8, 37.8, 36.6, 31.3, 33.9,
       36.6, 38.3, 41. , 29.3, 40.6, 32.1, 31.2, 37.1, 33.6, 35.7, 32.3,
       38.7, 34.8, 38.3, 29.1, 38.8, 35.8, 33.4, 33.3, 24.8, 30.5, 33.3,
       32.7, 36.7, 35.2, 38.3, 35.1, 30.7, 35.7, 34.4, 27.2, 36.9, 28.9,
       32.1, 34.5, 34.2, 34.6, 34.1, 31.3, 34.5, 33.3, 37.1, 34.7, 31.8,
       34.8, 34.8, 35.6, 35.4, 40.7, 38.6, 31.4, 34.8, 36.2, 35.7, 30.5,
       31.8, 38.8, 39.9, 36.6, 29.1, 28. , 34.9, 30.5, 36.1, 38.8, 33.8,
       31.9, 38.2, 36.6, 32. , 32.9, 39.3, 35.3, 30.5, 38.2, 34.8, 34.8,
       33.3, 34.7, 36.2, 34.7, 27.8, 42.9, 31.6, 34.4, 32.9, 41.8, 30.6,
       32.8, 33.5, 35. , 37.3, 40.8, 25.8, 28.8, 32.3, 35.2, 33. , 34.1,
       32.1, 36.6, 36.8, 38.7, 35.6, 29.9, 38.4, 31.1, 32.3, 28.6, 33.8,
       31.9, 34.2, 32.6, 33.8, 37. , 35.5, 28.3, 40.8, 33.9, 40. , 34.5,
       33.7, 30.3, 34.5, 43.8, 35.2, 35.3, 39.5, 35. , 31.8, 43.8, 32.2,
       38.9, 31.9, 36.8, 30.2, 33.8, 26.1, 34.4, 34.2, 36.8, 36.2, 34.8,
       35.4, 32.9, 36.5, 31.3, 34.1, 30.9, 34.8, 38.2, 31. , 33.2, 33.3,
       36. , 34. , 37.6, 32.3, 28.3, 29.3, 33. , 33.6, 29.7, 32.8, 34.6,
       29.8, 31.6, 43.7, 34.4, 33.3, 35.3, 29.1, 31.1, 27. , 39.8, 28.3,
       38.3, 31.9, 32.4, 39.8, 34.4, 30.3, 32. , 36.3, 33.5, 30.8, 34.2,
       40. , 34.1, 31.7, 32.6, 34.8, 32. , 30.7, 31.9, 37.7, 34.5, 35.3,
       30.2, 30. , 36.8, 37. , 33.3, 29.8, 35.3, 42.2, 29.4, 37.6, 32.5,
       39.2, 37.7, 38.2, 36.7, 34.8, 31.6, 31.3, 42.5, 43.1, 32.8, 29.4,
       36. , 37.8, 37.8, 37.8, 35.9, 32.4, 39.6, 39.8, 33.4, 31.1, 31.1,
       36.8, 33.8, 33.8, 34.8, 36.5, 33.7, 34.5, 35.5, 36.3, 37.3, 27.8,
       26.3, 37.1, 44.3, 30.3, 34.3, 35.2, 36.6, 39.1, 36.9, 29.7, 31.6,
       39.8, 40.8, 26.1, 38.8, 33.7, 34.9, 42.7, 29.1, 31.2, 41.3, 33.7,
       25.3, 36. , 26.7, 32.5, 31.6, 32.5, 43.7, 38.1, 29.1, 31.9, 32.7,
       38. , 37.2, 33.8, 30.5, 30.3, 31.3, 36.3, 35.2, 39.2, 37.1, 33.2,
       30.5, 34.1, 29.4, 37.2, 33.6, 31.5, 39.3, 33.9, 37.6, 33.5, 34.9,
       31.9, 33. , 36.2, 30.2, 31.5, 31. , 35.2, 33.5, 38.3, 35.3, 34.8,
       36.9, 34.8, 36.8, 37.5, 32.2, 33.5, 33. , 36.6, 36.3, 36.3, 32.7,
       35.2, 37.8, 36.8, 31.3, 34. , 33.1, 30.5, 37.1, 29.6, 35.3, 33.1,
       34.6, 34.8, 33.8, 43.8, 32. ])

In [55]:
# Use the loc method to select the ages of those who have doctoral degrees and assign it to the variable age_doctoraldegrees
age_doctoraldegrees = df.loc[df.Maternal_Education == 4]['Maternal_Age']
age_doctoraldegrees

14       31.8
48       36.4
49       32.7
54       35.3
71       34.7
         ...
10667    34.6
10682    34.8
10711    33.8
10754    43.8
10764    32.0
Name: Maternal_Age, Length: 786, dtype: float64

In [57]:
age_doctoraldegrees.mean()
print(age_doctoraldegrees.mean())

34.202544529262084

In [58]:
# The to_list method creates a Python list object. Use the to_list method to create a Python list object of the Age values for those that have a value in the Education column that is more than 25. Print only the first 10 values.
df.loc[df.Maternal_Age > 25, 'Maternal_Education'].to_list()[:10]

[3.0, 1.0, 1.0, 3.0, 1.0, 1.0, 0.0, 2.0, 2.0, 0.0]

#### <span style="color: lightpink;"> Ages of all Education with level 4 (Doctoral Degrees) who have an EPDS Score of 8 </span>

In [59]:
doctoral_degrees_EPDS_8 = df.loc[(df.Maternal_Education == 4) & (df.Edinburgh_Postnatal_Depression_Scale ==8), 'Maternal_Age']
doctoral_degrees_EPDS_8

84       34.3
268      31.8
415      32.7
465      31.2
939      33.2
1145     30.0
2213     32.8
2249     38.0
2544     32.8
2718     35.3
2764     36.3
2803     35.8
2871     25.4
3300     32.6
3349     30.7
3419     28.9
3595     30.2
3644     30.9
3675     33.8
3686     32.9
3704     37.8
3752     37.0
3967     40.1
4341     35.3
4545     35.8
4939     28.3
5053     36.5
5140     30.9
5893     30.7
5979     32.6
6284     38.8
6385     36.7
6606     34.7
6672     35.6
6714     31.4
6818     30.5
7282     42.9
7651     32.6
8362     34.4
8468     30.3
8561     33.5
8864     35.3
8876     42.2
8914     32.5
8947     37.7
8989     36.7
9138     37.8
9253     36.8
9479     39.1
10287    34.8
10481    35.2
Name: Maternal_Age, dtype: float64

#### <span style="color: lightpink;"> Education with level 4 (Doctoral Degrees) OR have an EPDS Score of 8 </span>

In [60]:
# Filter by Education Level == 4 or EPDS > 8 and assign the filter to the variable crit
crit = (df.Maternal_Education == 4) | (df.Edinburgh_Postnatal_Depression_Scale > 8)

In [61]:
# Use the crit criterium and assign to the variable education_4_or_EPDS_8
education_4_or_EPDS_8 = df.loc[crit, 'Maternal_Age']
education_4_or_EPDS_8 [:5] # Print the first 5 rows

0     38.3
3     28.8
4     36.5
10    28.6
13    29.2
Name: Maternal_Age, dtype: float64

#Create a variable named selection that will select for all the observations who have an education level of 4, has an age higher then 25 , and EPDS less then 20

In [68]:
#Create a variable named selection that will select for all the observations who have an education level of 4, has an age higher then 25 , and EPDS less then 20
selection = df.loc[(df.Maternal_Education == 4) & (df.Maternal_Age > 25) & (df.Edinburgh_Postnatal_Depression_Scale < 20)]
# Use this selection to create a numpy n-dimensional array of the Maternal_age
selection.Maternal_Age.to_numpy()

array([31.8, 36.4, 32.7, 35.3, 34.7, 34.3, 35.1, 32.9, 35.8, 31.3, 39.3,
       36.6, 30.8, 37.4, 25.5, 30.6, 33.1, 33.5, 36.1, 41.8, 31.8, 30.5,
       39.8, 35.8, 40.2, 39.1, 33.7, 32.7, 39.3, 27.9, 33.6, 31.2, 33.3,
       31.2, 38. , 33.3, 38.5, 27.1, 31.7, 27.5, 32.3, 36.8, 33.5, 32.7,
       36.5, 35.3, 30.6, 33.5, 35. , 28.3, 34.5, 34.9, 29.9, 38.4, 35.3,
       28.3, 36.7, 32.2, 34.3, 38.5, 34.8, 34.7, 35. , 35.8, 40.4, 35.4,
       32.3, 34.2, 33.2, 31.8, 39.2, 42.1, 33.9, 30.2, 31.7, 31.3, 40.5,
       35.9, 35.7, 25.7, 31. , 27.3, 32.8, 36.2, 30. , 38.8, 33.5, 32.1,
       26.8, 32. , 29.7, 35.4, 31.8, 37.9, 41.3, 28.9, 39.7, 32.7, 31.8,
       29.4, 36.3, 35.2, 31.6, 32.3, 31.7, 32.8, 35. , 34.1, 34.6, 32. ,
       38.5, 31.9, 31.2, 31.4, 29.4, 36. , 31.3, 32.5, 32.1, 30. , 36.2,
       36.3, 30.8, 28.6, 31.1, 34.8, 31.3, 31. , 49. , 34.7, 31.6, 40.4,
       31.8, 32.4, 28.6, 32.8, 39.3, 34.3, 31.3, 34.3, 32.8, 43. , 38.3,
       30.6, 31.8, 32.2, 28.9, 32.5, 32.5, 33.8, 35.5, 41.7, 32.8, 35.4,
       40. , 30.2, 34.8, 38. , 36.7, 39. , 36.8, 34.8, 34.5, 28.5, 38.3,
       32.4, 35. , 30.3, 40.1, 30.2, 34.1, 35.3, 31.4, 31.4, 32.8, 34.3,
       35.2, 31.8, 36.8, 32.8, 41.8, 32.6, 30.4, 38.8, 37.9, 34.7, 37.1,
       35.3, 34.1, 33.9, 35.5, 36.3, 35.8, 36.5, 34.9, 32.8, 37.5, 35.3,
       32.9, 39.7, 30.6, 37.4, 25.4, 42. , 29. , 30.8, 29. , 32.6, 29.2,
       31.3, 33. , 40.3, 34.2, 30. , 33.2, 31.1, 35.3, 34.1, 34.3, 34.6,
       37. , 35.3, 30.8, 28.1, 37.9, 33.6, 36.8, 31.6, 32.6, 36.1, 38.3,
       33.9, 39. , 36.3, 30.7, 34.7, 31. , 33.9, 40.8, 38.1, 28.9, 34.2,
       35.4, 33.6, 33.6, 32.5, 27.2, 33.6, 32. , 32.1, 30.2, 30.1, 38.7,
       30.9, 33.1, 33.6, 30.9, 33.7, 35.1, 33.8, 32.9, 34.1, 36.4, 40.2,
       37.8, 34.5, 33.8, 36.1, 37.3, 37. , 32.8, 35.3, 33.5, 39.7, 38.3,
       30.8, 34.8, 27.6, 33.8, 36.9, 35.8, 40.1, 33.6, 37.9, 35.8, 36.8,
       33. , 34.6, 35.9, 35.3, 36.1, 44.8, 35.5, 33.5, 36.8, 32.9, 32.8,
       29.7, 37.1, 33.2, 31.9, 32.1, 32.8, 36.4, 36.8, 37.2, 32.9, 38. ,
       35.3, 35.9, 32.6, 43.3, 31.8, 33. , 31.7, 41.5, 31.4, 32.1, 31.6,
       29.9, 35.8, 33.5, 32.3, 32. , 32.7, 29.9, 36.6, 30.2, 40.2, 32.3,
       36.8, 41.1, 32.8, 35.3, 37.6, 37.8, 31.7, 28.3, 33.1, 29.3, 32.3,
       38.9, 32.2, 30.2, 33.9, 36.5, 35.9, 29.2, 37.3, 31.2, 32.5, 30.9,
       32.2, 41. , 35. , 36.2, 33.7, 33.1, 32.9, 27. , 40. , 26.2, 34.4,
       34.8, 31.8, 34.4, 34.3, 34.1, 29.1, 31.2, 42.8, 29. , 30.5, 40.3,
       33. , 32.3, 42.6, 30.5, 34.8, 34.1, 29.2, 36. , 29.6, 38.3, 30.5,
       29.9, 33.4, 35.8, 32. , 37.5, 34. , 35.3, 31.8, 38.7, 36.8, 27.7,
       30.3, 39.1, 31.6, 30.7, 30.8, 34.8, 30.8, 32.5, 36.8, 31.4, 32.6,
       32.8, 35.3, 30.8, 34.8, 37.7, 33. , 38.3, 34.8, 37.8, 36.6, 31.3,
       33.9, 36.6, 38.3, 41. , 29.3, 40.6, 32.1, 31.2, 37.1, 35.7, 32.3,
       38.7, 34.8, 38.3, 38.8, 35.8, 33.4, 33.3, 30.5, 33.3, 32.7, 36.7,
       35.2, 38.3, 35.1, 30.7, 35.7, 34.4, 27.2, 36.9, 28.9, 32.1, 34.5,
       34.2, 34.6, 34.1, 31.3, 34.5, 33.3, 37.1, 34.7, 31.8, 34.8, 34.8,
       35.6, 35.4, 40.7, 31.4, 34.8, 36.2, 35.7, 30.5, 31.8, 38.8, 39.9,
       36.6, 29.1, 28. , 34.9, 30.5, 36.1, 38.8, 31.9, 38.2, 36.6, 32. ,
       32.9, 35.3, 30.5, 38.2, 34.8, 34.8, 33.3, 34.7, 36.2, 27.8, 42.9,
       31.6, 34.4, 32.9, 41.8, 30.6, 32.8, 33.5, 35. , 37.3, 40.8, 25.8,
       28.8, 32.3, 33. , 34.1, 32.1, 36.8, 38.7, 35.6, 29.9, 38.4, 31.1,
       32.3, 33.8, 31.9, 34.2, 32.6, 33.8, 37. , 35.5, 28.3, 40.8, 33.9,
       40. , 34.5, 30.3, 43.8, 35.2, 35.3, 39.5, 35. , 31.8, 43.8, 32.2,
       38.9, 31.9, 36.8, 30.2, 33.8, 26.1, 34.4, 34.2, 36.8, 36.2, 34.8,
       35.4, 36.5, 31.3, 30.9, 34.8, 38.2, 31. , 33.2, 33.3, 36. , 34. ,
       37.6, 28.3, 29.3, 33. , 33.6, 29.7, 32.8, 34.6, 29.8, 31.6, 43.7,
       34.4, 33.3, 35.3, 31.1, 27. , 39.8, 28.3, 38.3, 31.9, 32.4, 39.8,
       34.4, 30.3, 36.3, 33.5, 30.8, 34.1, 32.6, 34.8, 30.7, 31.9, 34.5,
       35.3, 30.2, 30. , 36.8, 37. , 33.3, 29.8, 35.3, 42.2, 29.4, 37.6,
       32.5, 39.2, 37.7, 38.2, 36.7, 34.8, 31.6, 31.3, 42.5, 43.1, 32.8,
       29.4, 36. , 37.8, 37.8, 35.9, 39.6, 33.4, 31.1, 31.1, 36.8, 33.8,
       33.8, 34.8, 36.5, 33.7, 34.5, 35.5, 36.3, 37.3, 27.8, 26.3, 37.1,
       44.3, 30.3, 34.3, 35.2, 36.6, 39.1, 36.9, 29.7, 31.6, 39.8, 40.8,
       26.1, 38.8, 33.7, 34.9, 42.7, 29.1, 31.2, 41.3, 33.7, 25.3, 26.7,
       32.5, 31.6, 32.5, 43.7, 38.1, 29.1, 31.9, 38. , 37.2, 33.8, 30.5,
       30.3, 31.3, 36.3, 39.2, 37.1, 33.2, 30.5, 34.1, 29.4, 37.2, 33.6,
       39.3, 37.6, 33.5, 34.9, 31.9, 33. , 36.2, 30.2, 31.5, 35.2, 33.5,
       38.3, 35.3, 34.8, 36.9, 34.8, 36.8, 37.5, 33.5, 33. , 36.6, 36.3,
       36.3, 32.7, 35.2, 37.8, 36.8, 31.3, 34. , 33.1, 30.5, 37.1, 29.6,
       35.3, 33.1, 34.6, 34.8, 33.8, 43.8, 32. ])

#### <span style="color: lightpink;"> Create a new dataframe object that only contains participants younger than 50 </span>

In [70]:
#Create a new dataframe object that only contains participants younger than 50
df_younger_than_50 = df.loc[df.Maternal_Age < 50]
df_younger_than_50
df_younger_than_50[:5] # Display the first five rows

,OSF_ID,Maternal_Age,Maternal_Education,Edinburgh_Postnatal_Depression_Scale,PROMIS_Anxiety,Gestational_Age_At_Birth,Delivery_Date(converted to month and year),Birth_Length,Birth_Weight,Delivery_Mode,NICU_Stay,Language,Threaten_Life,Threaten_Baby_Danger,Threaten_Baby_Harm,NICU_Stay.1
0,1,38.3,3.0,9.0,13.0,39.71,Dec-20,49.20,3431.0,0.0,0.0,0,2,3,27,NaN
1,2,34.6,1.0,4.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,0,2,33,92,NaN
2,3,34.3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,,,,NaN
3,4,28.8,3.0,9.0,20.0,38.57,Dec-20,41.00,2534.0,0.0,0.0,1,53,67,54,0.0
4,5,36.5,1.0,14.0,20.0,39.86,Oct-20,53.34,3714.0,1.0,0.0,0,23,32,71,0.0

In [72]:
# Mean HR
df_younger_than_50.Edinburgh_Postnatal_Depression_Scale.mean()
print(df_younger_than_50.Edinburgh_Postnatal_Depression_Scale.mean())

10.191785117056856

#### <span style="color: lightpink;"> Create a new dataframe for participants with a restricted list of job titles</span>

In [73]:
# Create a Python list object with the string element 
months = ['Dec-20', 'Jun-21', 'Aug-20']

In [74]:
# Create a criterium
crit = df['Delivery_Date(converted to month and year)'].isin(months)

In [76]:
# Filter for month in the Delivery column and assign it to the variable df_months
df_months = df.loc[crit]
df_months

,OSF_ID,Maternal_Age,Maternal_Education,Edinburgh_Postnatal_Depression_Scale,PROMIS_Anxiety,Gestational_Age_At_Birth,Delivery_Date(converted to month and year),Birth_Length,Birth_Weight,Delivery_Mode,NICU_Stay,Language,Threaten_Life,Threaten_Baby_Danger,Threaten_Baby_Harm,NICU_Stay.1
0,1,38.3,3.0,9.0,13.0,39.71,Dec-20,49.20,3431.0,0.0,0.0,0,2,3,27,NaN
3,4,28.8,3.0,9.0,20.0,38.57,Dec-20,41.00,2534.0,0.0,0.0,1,53,67,54,0.0
15,16,30.1,2.0,14.0,17.0,39.43,Jun-21,47.63,3289.0,0.0,0.0,0,79,76,97,0.0
17,18,27.1,1.0,0.0,8.0,40.43,Jun-21,48.00,2694.0,0.0,0.0,0,50,76,64,0.0
21,22,34.3,1.0,NaN,NaN,37.86,Jun-21,46.99,2694.0,0.0,0.0,0,,,,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10740,10741,33.1,2.0,16.0,25.0,40.00,Jun-21,50.80,3425.0,0.0,0.0,0,61,70,95,0.0
10754,10755,43.8,4.0,2.0,7.0,38.00,Dec-20,52.00,3799.0,0.0,0.0,0,25,33,48,0.0
10755,10756,41.7,1.0,19.0,21.0,38.43,Aug-20,48.26,3700.0,1.0,0.0,0,94,94,91,0.0
10756,10757,27.8,3.0,8.0,19.0,38.86,Aug-20,50.80,3573.0,1.0,0.0,0,45,82,86,0.0
10763,10764,24.0,0.0,2.0,13.0,41.43,Dec-20,53.34,4055.0,0.0,0.0,0,29,50,78,0.0

In [84]:
# Build a criterium with the str.contains method for the word Dec
crit = df['Delivery_Date(converted to month and year)'].str.contains('Dec', na=False) #Flag for missing values

In [85]:
# Create a new dataframe object with the criterium and assign it to the variable df_dec
df_dec = df.loc[crit]
df_dec

,OSF_ID,Maternal_Age,Maternal_Education,Edinburgh_Postnatal_Depression_Scale,PROMIS_Anxiety,Gestational_Age_At_Birth,Delivery_Date(converted to month and year),Birth_Length,Birth_Weight,Delivery_Mode,NICU_Stay,Language,Threaten_Life,Threaten_Baby_Danger,Threaten_Baby_Harm,NICU_Stay.1
0,1,38.3,3.0,9.0,13.0,39.71,Dec-20,49.20,3431.0,0.0,0.0,0,2,3,27,NaN
3,4,28.8,3.0,9.0,20.0,38.57,Dec-20,41.00,2534.0,0.0,0.0,1,53,67,54,0.0
37,38,31.7,1.0,8.0,21.0,39.00,Dec-20,54.61,3771.0,1.0,0.0,0,30,70,75,0.0
52,53,35.8,1.0,5.0,14.0,39.71,Dec-20,55.88,3799.0,0.0,0.0,0,4,3,5,0.0
91,92,35.1,4.0,10.0,19.0,40.00,Dec-20,51.00,3220.0,0.0,0.0,0,23,60,66,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10689,10690,30.0,1.0,5.0,20.0,39.00,Dec-20,53.00,3657.0,1.0,0.0,0,64,68,74,0.0
10725,10726,35.0,2.0,7.0,14.0,38.57,Dec-20,49.53,2268.0,0.0,0.0,0,51,59,83,0.0
10728,10729,37.6,2.0,11.0,16.0,38.86,Dec-20,45.72,2977.0,1.0,0.0,1,45,72,72,0.0
10754,10755,43.8,4.0,2.0,7.0,38.00,Dec-20,52.00,3799.0,0.0,0.0,0,25,33,48,0.0
10763,10764,24.0,0.0,2.0,13.0,41.43,Dec-20,53.34,4055.0,0.0,0.0,0,29,50,78,0.0

### <span style="color: lightgreen;"> Updating or changing the values in a dataframe </span>

### <span style="color: lightpink;"> Renaming Columns</span>

In [87]:
# Replace the OSF_ID column with the Identifier
df.rename(columns={'OSF_ID': 'Identifier'}, inplace=True)
df.columns #Call the columns attribute to verify the change

Index(['Identifier', 'Maternal_Age', 'Maternal_Education',
       'Edinburgh_Postnatal_Depression_Scale', 'PROMIS_Anxiety',
       'Gestational_Age_At_Birth',
       'Delivery_Date(converted to month and year)', 'Birth_Length',
       'Birth_Weight', 'Delivery_Mode', 'NICU_Stay', 'Language',
       'Threaten_Life', 'Threaten_Baby_Danger', 'Threaten_Baby_Harm',
       'NICU_Stay.1'],
      dtype='object')

### <span style="color: lightpink;"> Deleting Columns </span>

In [89]:
# Delete the Threaten Baby Danger column
df.drop(columns='Threaten_Baby_Danger', inplace=True)
df.columns #Call the columns attribute to verify the change

Index(['Identifier', 'Maternal_Age', 'Maternal_Education',
       'Edinburgh_Postnatal_Depression_Scale', 'PROMIS_Anxiety',
       'Gestational_Age_At_Birth',
       'Delivery_Date(converted to month and year)', 'Birth_Length',
       'Birth_Weight', 'Delivery_Mode', 'NICU_Stay', 'Language',
       'Threaten_Life', 'Threaten_Baby_Harm', 'NICU_Stay.1'],
      dtype='object')

### <span style="color: lightpink;"> Add a Value of 2 to the threaten baby harm column </span>

In [92]:
# Add 2 to each value of maternal age
df['Maternal_Age'] = df['Maternal_Age'] + 2
df['Maternal_Age'].head()

0    40.3
1    36.6
2    36.3
3    30.8
4    38.5
Name: Maternal_Age, dtype: float64

In [93]:
# Create a user-defined function named add2 that adds 2 to a value
def add2(x):
    return x + 2

In [94]:
df.Maternal_Age = df.Maternal_Age.apply(add2)
df.Maternal_Age[:5]

0    42.3
1    38.6
2    38.3
3    32.8
4    40.5
Name: Maternal_Age, dtype: float64

In [95]:
# Create a new variable named Age*Education level
df['Age*Education_level'] = df.Maternal_Age * df.Maternal_Education

### <span style="color: lightpink;"> Changing the Values in a Column </span>

In [109]:
# Return the unique values in the NICU column
df.NICU_Stay.unique()

array([ 0., nan,  1.])

In [110]:
# NICU stay values 0 with 1 and 1 with 2
df.NICU_Stay.replace({0: 1, 1: 2}, inplace=True)

/var/folders/xt/6x12kt7x5c35p3_2tm5_5_f00000gn/T/ipykernel_9247/2654174799.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NICU_Stay.replace({0: 1, 1: 2}, inplace=True)

### <span style="color: lightpink;"> Spliting the values in a column into two columns  </span>

** Error is happening because my data is not in a string form it is only in number form. So therefore I need to convert it to a string before spliting it.

In [151]:
# Convert the Deleivery Date column to a string
df['Delivery_Date(converted to month and year)'] = df['Delivery_Date(converted to month and year)'].astype(str)

In [153]:
# Split the values in the Delivery Date column on the hyphen and assign it to the variable split_Delivery_Date
split_Delivery_Date = df['Delivery_Date(converted to month and year)'].str.split('-', expand=True)
split_Delivery_Date
# Assign the first column to the variable Month and the second column to the variable Year
df['Month'] = split_Delivery_Date[0]
df['Year'] = split_Delivery_Date[1]

In [154]:
#Print the first 5 rows of the Month and Year columns
df[['Month', 'Year']].head()

  Month  Year
0   Dec    20
1   nan  None
2   nan  None
3   Dec    20
4   Oct    20

### <span style="color: lightpink;"> Categorize a numerical variable  </span>

In [160]:
# minimum birth length
df.Birth_Length.min()
print(df.Birth_Length.min())

20.0

In [161]:
# maximum birth length
df.Birth_Length.max()
print(df.Birth_Length.max())

70.0

df['Edinburgh_Postnatal_Depression_Scale'] = pd.cut(df.Birth_Length, bins = [0, 10, 20, 30], right=True, labels=['low', 'normal', 'high'])

In [172]:
# maximum EPDS score
df.Edinburgh_Postnatal_Depression_Scale.max()
print(df.Edinburgh_Postnatal_Depression_Scale.max())
# minimum EPDS Score
df.Edinburgh_Postnatal_Depression_Scale.min()
print(df.Edinburgh_Postnatal_Depression_Scale.min())

high
low

In [173]:
df.Edinburgh_Postnatal_Depression_Scale[:5]

0       low
1       low
2       NaN
3       low
4    medium
Name: Edinburgh_Postnatal_Depression_Scale, dtype: category
Categories (3, object): ['low' < 'medium' < 'high']

df['Birth_Lengthlevel'] = pd.cut(df.Birth_Length, bins = [20, 30, 40, 70], right=True, labels=['low', 'normal', 'high'])

In [180]:

df.Birth_Length[:5]

0    high
1     NaN
2     NaN
3    high
4    high
Name: Birth_Length, dtype: category
Categories (3, object): ['low' < 'normal' < 'high']

### <span style="color: lightgreen;"> Missing data </span>

### <span style="color: lightpink;"> The numpy nan value </span>

In [181]:
# Print the numpy nan value
np.nan

nan

In [182]:
# Create a list with three integers and a nan value and assign it to the variable my_list
my_list = [1, 2, 3, np.nan]
my_list

[1, 2, 3, nan]

In [183]:
# Calculate the mean of my_list
np.mean(my_list)

np.float64(nan)

### <span style="color: lightpink;"> A dataframe object with missing data </span>

In [188]:
# Read the MissingData.csv file and assign it to the variable df_missing
df_missing = pd.read_csv('/Users/sophiadalal/Desktop/Health Data Science /(Edited csv) Pregnancy During the COVID-19 Pandemic.csv')
# Print the first 10 rows of df_missing
df_missing[:10]

,OSF_ID,Maternal_Age,Maternal_Education,Edinburgh_Postnatal_Depression_Scale,PROMIS_Anxiety,Gestational_Age_At_Birth,Delivery_Date(converted to month and year),Birth_Length,Birth_Weight,Delivery_Mode,NICU_Stay,Language,Threaten_Life,Threaten_Baby_Danger,Threaten_Baby_Harm,NICU_Stay.1
0,1,38.3,3.0,9.0,13.0,39.71,Dec-20,49.20,3431.0,0.0,0.0,0,2,3,27,NaN
1,2,34.6,1.0,4.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,0,2,33,92,NaN
2,3,34.3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,,,,NaN
3,4,28.8,3.0,9.0,20.0,38.57,Dec-20,41.00,2534.0,0.0,0.0,1,53,67,54,0.0
4,5,36.5,1.0,14.0,20.0,39.86,Oct-20,53.34,3714.0,1.0,0.0,0,23,32,71,0.0
5,6,38.3,1.0,3.0,8.0,38.57,Jun-20,NaN,NaN,NaN,NaN,0,29,36,33,NaN
6,7,34.5,0.0,8.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,0,24,30,32,NaN
7,8,NaN,NaN,NaN,NaN,38.00,May-21,50.17,2892.0,1.0,1.0,0,,,,1.0
8,9,33.1,2.0,1.0,7.0,40.86,Nov-20,55.88,4480.0,0.0,0.0,0,27,76,72,0.0
9,10,25.8,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,50,88,84,NaN

### <span style="color: lightpink;"> Delete Missing Data </span>

In [189]:
# Delete rows with missing values and assign to a new variable complete_data_df
complete_data_df = df_missing.dropna()

In [190]:
# Use .isna() for the maternal age column
df_missing.Maternal_Age.isna()

0        False
1        False
2        False
3        False
4        False
         ...
10767    False
10768    False
10769    False
10770    False
10771    False
Name: Maternal_Age, Length: 10772, dtype: bool

In [191]:
# Sum over all the missing data in the maternal age column
df_missing.Maternal_Age.isna().sum()

np.int64(111)

In [192]:
# Use forward fill to impute the missing values in the maternal age column
df_missing.Maternal_Age.fillna(method='ffill', inplace=True)

/var/folders/xt/6x12kt7x5c35p3_2tm5_5_f00000gn/T/ipykernel_9247/3037175642.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_missing.Maternal_Age.fillna(method='ffill', inplace=True)
/var/folders/xt/6x12kt7x5c35p3_2tm5_5_f00000gn/T/ipykernel_9247/3037175642.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_missing.Maternal_Age.fillna(method='ffill', inplace=True)

In [194]:
df_missing.Maternal_Age[:10]

0    38.3
1    34.6
2    34.3
3    28.8
4    36.5
5    38.3
6    34.5
7    34.5
8    33.1
9    25.8
Name: Maternal_Age, dtype: float64

### <span style="color: lightpink;"> Default Missing Values </span>

In [195]:
# Import the DefaultMissingData.scv file and assign ot to the variable default_missing_df
default_missing_df = pd.read_csv('/Users/sophiadalal/Desktop/Health Data Science /(Edited csv) Pregnancy During the COVID-19 Pandemic.csv')

In [196]:
default_missing_df[:5]

,OSF_ID,Maternal_Age,Maternal_Education,Edinburgh_Postnatal_Depression_Scale,PROMIS_Anxiety,Gestational_Age_At_Birth,Delivery_Date(converted to month and year),Birth_Length,Birth_Weight,Delivery_Mode,NICU_Stay,Language,Threaten_Life,Threaten_Baby_Danger,Threaten_Baby_Harm,NICU_Stay.1
0,1,38.3,3.0,9.0,13.0,39.71,Dec-20,49.20,3431.0,0.0,0.0,0,2,3,27,NaN
1,2,34.6,1.0,4.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,0,2,33,92,NaN
2,3,34.3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,,,,NaN
3,4,28.8,3.0,9.0,20.0,38.57,Dec-20,41.00,2534.0,0.0,0.0,1,53,67,54,0.0
4,5,36.5,1.0,14.0,20.0,39.86,Oct-20,53.34,3714.0,1.0,0.0,0,23,32,71,0.0

In [198]:
# Reimport the csv file and use the na_values argument to specify the missing values 999, Nil, and Missing
default_missing_df = pd.read_csv('/Users/sophiadalal/Desktop/Health Data Science /(Edited csv) Pregnancy During the COVID-19 Pandemic.csv', na_values=[999, 'Nil', 'Missing'])
default_missing_df[:5]

,OSF_ID,Maternal_Age,Maternal_Education,Edinburgh_Postnatal_Depression_Scale,PROMIS_Anxiety,Gestational_Age_At_Birth,Delivery_Date(converted to month and year),Birth_Length,Birth_Weight,Delivery_Mode,NICU_Stay,Language,Threaten_Life,Threaten_Baby_Danger,Threaten_Baby_Harm,NICU_Stay.1
0,1.0,38.3,3.0,9.0,13.0,39.71,Dec-20,49.20,3431.0,0.0,0.0,0,2,3,27,NaN
1,2.0,34.6,1.0,4.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,0,2,33,92,NaN
2,3.0,34.3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,,,,NaN
3,4.0,28.8,3.0,9.0,20.0,38.57,Dec-20,41.00,2534.0,0.0,0.0,1,53,67,54,0.0
4,5.0,36.5,1.0,14.0,20.0,39.86,Oct-20,53.34,3714.0,1.0,0.0,0,23,32,71,0.0

# <span style="color: mediumvioletred;"><u>**Quiz Questions :):**</u></span>

<span style="color:MediumPurple;"><strong> 1. How do you import the pandas library in Python?</strong></span>

import pandas as pd

<span style="color:Teal;"><strong> 2. How do you read a CSV file named <code>data.csv</code> into a pandas DataFrame?</strong></span>

df = pd.read_csv('data.csv')

<span style="color:SlateBlue;"><strong>3. How do you display the first 5 rows of a DataFrame named <code>df</code>?</strong></span>

df.head()

<span style="color:GoldenRod;"><strong> 4. How do you find the number of rows and columns in a DataFrame <code>df</code>?</strong></span>

df.shape

<span style="color:DarkCyan;"><strong> 5. How do you print the names of all columns in a DataFrame <code>df</code>?</strong></span>

df.columns.tolist()

<span style="color:DeepPink;"><strong>6. How do you get summary information of DataFrame <code>df</code> including data types and non-null values?</strong></span>

df.info()

<span style="color:Crimson;"><strong> 7. How do you select rows in <code>df</code> where column <code>A</code> is greater than 5?</strong></span>

df[df['A'] > 5]

<span style="color:DarkOrchid;"><strong> 8. How do you select columns <code>A</code> and <code>B</code> from DataFrame <code>df</code>?</strong></span>

df[['A', 'B']]

<span style="color:ForestGreen;"><strong> 9. How do you rename column <code>A</code> to <code>Alpha</code> in DataFrame <code>df</code>?</strong></span>

df.rename(columns={'A': 'Alpha'}, inplace=True)

<span style="color:Tomato;"><strong> 10. How do you replace all occurrences of <code>999</code> in DataFrame <code>df</code> with <code>NaN</code>?</strong></span>

import numpy as np
df.replace(999, np.nan, inplace=True)

<span style="color:Sienna;"><strong> 11. How do you drop all rows in DataFrame <code>df</code> containing missing values?</strong></span>

df.dropna(inplace=True)

<span style="color:purple;"><strong> 12. How do you fill all missing values in DataFrame <code>df</code> with <code>0</code>?</strong></span>

df.fillna(0, inplace=True)

or

df.fillna(df['column'].mean(), inplace=True)

<span style="color:HotPink;"><strong>13. How do you calculate the mean of column <code>A</code> in DataFrame <code>df</code>?</strong></span>

df['A'].mean()

<span style="color:DarkOliveGreen;"><strong> 14. How do you create a new column <code>C</code> as the sum of columns <code>A</code> and <code>B</code>?</strong></span>

df['C'] = df['A'] + df['B']

<span style="color:DarkOrange;"><strong>15. How do you save the DataFrame <code>df</code> to a CSV file named <code>output.csv</code>?</strong></span>

df.to_csv('output.csv', index=False)