# <span style="color: mediumvioletred;"><u>**Lecture 7 Python Collections (Lecture and Quiz Questions):**</u></span>
#### <span style="color: MediumPurple;">Sophia Dalal </span>
#### <span style="color: MediumPurple;">February 26 2025  </span>

# <span style="color: lightblue;"><u>Lists</u></span>

In [73]:
# Create a list of five integers
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [25]:
# Type of the list
type([1, 2, 3, 4, 5])

list

In [26]:
# Create a list of five integers and five strings
[1, 2, 3, 4, 5, "one", "two", "three", "four", "five"]

[1, 2, 3, 4, 5, 'one', 'two', 'three', 'four', 'five']

In [27]:
# Create a list of five random integers and assign it to the variable my_list
my_list = [7, 4, 8, 2, 9]

In [28]:
# Retrieve the first element of the list
my_list[0]

7

In [29]:
# Retrieve the last element of the list
my_list[-1]

9

In [30]:
# Retrieve the last element of the list
my_list[4]

9

In [31]:
# Retrieve the first three elements of the list
my_list[0:3]

[7, 4, 8]

In [32]:
# Retrieve the first three elements of the list
my_list[:3]

[7, 4, 8]

In [34]:
# Retrieve all elements from index 3
my_list[3:]

[2, 9]

In [33]:
# Retrieve the last three elements of the list
my_list[-3:]

[8, 2, 9]

In [35]:
# Change the first element of the list to 'First
my_list[0] = 'First'
my_list

['First', 4, 8, 2, 9]

In [36]:
# Change the last element of the list to the list ['one', 'two', 'three']
my_list[-1] = ['one', 'two', 'three']
my_list

['First', 4, 8, 2, ['one', 'two', 'three']]

In [37]:
# Return the length of the list
len(my_list)

5

In [38]:
# Retrieve the last element of the list
my_list[-1]

['one', 'two', 'three']

In [39]:
# Retrieve the first element of the last element of the list
my_list[-1][0]

'one'

In [40]:
# Extend the list with the elements 10, 11, and 12
my_list.extend([10, 11, 12])
my_list

['First', 4, 8, 2, ['one', 'two', 'three'], 10, 11, 12]

In [41]:
# Extend the list with the list containing the elements 10, 11, and 12
my_list.extend([[10, 11, 12]])
my_list

['First', 4, 8, 2, ['one', 'two', 'three'], 10, 11, 12, [10, 11, 12]]

In [42]:
# Remove the last element of the list
my_list.pop()
my_list

['First', 4, 8, 2, ['one', 'two', 'three'], 10, 11, 12]

In [43]:
# Remove the element at index 2
my_list.pop(2) # The value 8 at index number 2 is removed
my_list

['First', 4, 2, ['one', 'two', 'three'], 10, 11, 12]

In [44]:
# Append the number 6 to the list
my_list.append(6)
my_list

['First', 4, 2, ['one', 'two', 'three'], 10, 11, 12, 6]

In [45]:
# Insert the string 'inserted' at index 2
my_list.insert(2, 'inserted')
my_list

['First', 4, 'inserted', 2, ['one', 'two', 'three'], 10, 11, 12, 6]

# <span style="color: lightblue;"><u>What are the differences between python methods append, insert, and extend?

Append () 
* Adds a single element to the end of the list.
* The element can be of any data type (e.g., number, string, another list).

Insert ()
* Inserts an element at a specified index.
* All elements after the insertion shift right.

Extend ()
* Adds multiple elements (from another iterable like a list, tuple, or set) to the end of the list.
* Unlike append(), which adds the entire iterable as a single element, extend() unpacks it and adds each element separately.

In [48]:
# Create a two new lists of integers
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

In [50]:
# Concatenate the two lists
list1 + list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
# Repeat the list1 three times
list1 * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [52]:
# Determine of the numner 5 is in list1
5 in list1

True

In [58]:
# Reverse the list
list1.reverse()
list1

[5, 4, 3, 2, 1]

In [59]:
# Use the list function and the range function to create a list of integers from 0 to 9
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
# Created a list containing the string 'I love Python'
list('I love Python')

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'P', 'y', 't', 'h', 'o', 'n']

# <span style="color: lightblue;"><u>Tuples

In [64]:
# Create a tuple of five integers and assign it to the variable tuple_1
tuple_1 = (1, 2, 3, 4, 5)
tuple_1

(1, 2, 3, 4, 5)

In [65]:
tuple_1 = 2, 4, 5, 7, 'ring' # Simply state elements
tuple_1

(2, 4, 5, 7, 'ring')

In [66]:
# Type of the tuple
type(tuple_1)

tuple

In [68]:
# Create a tuple with the elements 1, 2, 'three', and the list 'Python' and assign it to the variable tuple_2
tuple_2 = (1, 2, 'three', ['Python'])
tuple_2

(1, 2, 'three', ['Python'])

In [69]:
tuple_2 = (1, 2, 'three', list('Python')) # Use parentheses
tuple_2

(1, 2, 'three', ['P', 'y', 't', 'h', 'o', 'n'])

In [70]:
# Retrieve the first element of tuple_1
tuple_1[0]

2

In [72]:
# Create a tuple with the string elements 'Python', 'R', and 'Julia' and assign it to the variable langauge
language = ('Python', 'R', 'Julia')
language

('Python', 'R', 'Julia')

In [74]:
# Assign each element of the tuple to a separate variable, using the variable names one, two, and three
one, two, three = language
one

'Python'

In [75]:
names = ['Mary', 'Anne', 'Rene']
surnames = ['Johnstone', 'Barnes', 'Le Roux']

In [76]:
# Use the zip function to create a list of tuples
list(zip(names, surnames))

[('Mary', 'Johnstone'), ('Anne', 'Barnes'), ('Rene', 'Le Roux')]

In [77]:
# Generate a list of tuples (each with three elements)
list(zip(range(1, 4), range(4, 7), range(7, 10)))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [79]:
# Generate a list of tuples (each with three elements)
data_set = [('Anna', 'Rogers', 33), ('Susan', 'Roberts', 25), ('Rene', 'Du Bois', 28)]
data_set

[('Anna', 'Rogers', 33), ('Susan', 'Roberts', 25), ('Rene', 'Du Bois', 28)]

In [81]:
# Unzip the thee element tuples
names, lastnames, ages = zip(*data_set)
names

('Anna', 'Susan', 'Rene')

In [82]:
# Return the names
names

('Anna', 'Susan', 'Rene')

In [83]:
# Return the lastnames
lastnames

('Rogers', 'Roberts', 'Du Bois')

In [84]:
# Return the ages
ages

(33, 25, 28)

# <span style="color: lightblue;"><u>Dictionaries

In [85]:
# Generate a dictionary
dict([('Anna', 33), ('Susan', 25), ('Rene', 28)])

{'Anna': 33, 'Susan': 25, 'Rene': 28}

In [86]:
id345 = {'First Name':'Jenny', 'Last Name':'Gregory', 'Age':48, 'Heart Rate':75}
id345

{'First Name': 'Jenny', 'Last Name': 'Gregory', 'Age': 48, 'Heart Rate': 75}

In [87]:
# Return the keys of the dictionary
id345.keys()

dict_keys(['First Name', 'Last Name', 'Age', 'Heart Rate'])

In [88]:
# Return the values of the dictionary
id345.values()

dict_values(['Jenny', 'Gregory', 48, 75])

In [89]:
# Return the value for the 'Firt Name' key
id345['First Name']

'Jenny'

In [90]:
id345.get('Surname') # No such key

In [91]:
# Generate a dictionary using the dict function
my_dict = dict([(1, 'A'), (2, 'B'), (3,'C'), (4,'D')])

# Return a list of the values of the dictionary
list(my_dict.values())

['A', 'B', 'C', 'D']

# <span style="color: lightblue;"><u>Sets

In [92]:
# Generate set with the elements 1, 2, 3, 4, 4, 4, 4, 1
set([1, 2, 3, 4, 4, 4, 4, 1])

{1, 2, 3, 4}

In [93]:
set_1 = {1, 2, 3, 4, 4, 4, 4, 1}
set_1 # Call object and print to the scren

{1, 2, 3, 4}

In [98]:
# Use the set function instead
set_1 = set([1, 2, 3, 4, 4, 4, 4, 1])
set_1

{1, 2, 3, 4}

In [99]:
# Add the element 7 to the set
set_1.add(7)
set_1

{1, 2, 3, 4, 7}

In [100]:
# Remove the element 4 from the set
set_1.remove(4)
set_1

{1, 2, 3, 7}

In [101]:
# First set
set_A = {'a', 'a', 'a', 'b', 'c', 'd', 'e', 'f', 'e', 'a'}
set_A

{'a', 'b', 'c', 'd', 'e', 'f'}

In [102]:
# Second set
set_B = {'a', 'c', 'c', 'f', 'g'}
set_B

{'a', 'c', 'f', 'g'}

In [103]:
# Return the union of the two sets using the union method
set_A.union(set_B)

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [104]:
# Return the intersection of the two sets using the intersection method
set_A.intersection(set_B)

{'a', 'c', 'f'}

In [108]:
# Return the union of the two sets using the pipe operator
set_A | set_B

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [109]:
# Return the intersection of the two sets using the & operator
set_A & set_B

{'a', 'c', 'f'}

In [111]:
# Return the difference between the two sets using the difference method
set_A.difference(set_B)

{'b', 'd', 'e'}

In [112]:
# Return the symmetric difference between the two sets using the symmetric_difference method
set_A.symmetric_difference(set_B)

{'b', 'd', 'e', 'g'}

# <span style="color: lightblue;"><u>List Comprehension

In [113]:
# Use list comprehension to create a list of the first 10 square natural numbers
[x**2 for x in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [114]:
# Squares of natural numbers larger than 5
[n**2 for n in range(1, 11) if n > 5]

[36, 49, 64, 81, 100]

In [115]:
# Only include elements that are less than 50
[n**2 for n in range(1, 11) if n**2 < 50]

[1, 4, 9, 16, 25, 36, 49]

# <span style="color: MediumPurple;"> Quiz Questions :) </span>

1. How do you define a list in Python?

* In Python, a list is defined using square brackets ([]) and can store multiple items of any data type (e.g., integers, strings, floats, even other lists)

* Lists are ordered, mutable, and allow duplicate values.

In [119]:
# List of integers
numbers = [1, 2, 3, 4, 5]

# List of strings
fruits = ["apple", "banana", "cherry"]

numbers + fruits

[1, 2, 3, 4, 5, 'apple', 'banana', 'cherry']

2. How do you access the third element of a Python list named my_list
* To access the third element of a Python list named my_list, you use indexing. 
* Since Python uses zero-based indexing, the third element is at index 2

In [120]:
my_list = ["apple", "banana", "cherry", "date"]
third_element = my_list[2]  # Index 2 refers to the third element
third_element  # Output: cherry

'cherry'

3. How can you add the element "new_item" to the end of an existing list named my_list?
* Use Append to add elements

In [121]:
my_list = [1, 2, 3]
my_list.append("new_item")
my_list  # Output: [1, 2, 3, 'new_item']

[1, 2, 3, 'new_item']

4. How do you create a Python tuple with the items "apple", "banana", and "cherry"?
* A tuple is an immutable sequence in Python. You can create a tuple using parentheses

In [3]:
my_tuple = ('apple', 'banana', 'cherry')
my_tuple

('apple', 'banana', 'cherry')

5. How do you access the first element of a Python tuple named my_tuple?

In [4]:
first_element = my_tuple[0]
first_element

'apple'

6. How do you define a dictionary in Python with keys "name", "age" and values "John Doe", 30?

In [6]:
my_dict = {'Name':'John Doe', 'Age':'30'}
my_dict

{'Name': 'John Doe', 'Age': '30'}

7. How can you retrieve the value for the key "name" from the dictionary my_dict?

In [9]:
my_dict['Name']

'John Doe'

8. How can you change the value associated with the key "age" in the dictionary my_dict to 35?

In [10]:
my_dict["Age"] = 35
my_dict

{'Name': 'John Doe', 'Age': 35}

9. How can you add a new key-value pair "city":"New York" to the dictionary my_dict?

In [11]:
my_dict["City"] = "New York"
my_dict

{'Name': 'John Doe', 'Age': 35, 'city': 'New York'}

10. How do you create a set in Python with the items "apple", "banana", and "cherry"?

In [13]:
my_set={"apple","banana","cherry"}

11. How do you add the item "orange" to an existing set my_set?

In [16]:
my_set.add("orange")
my_set

{'apple', 'banana', 'cherry', 'orange'}

12. What is the length of a list my_list with elements [1, 2, 3, 4, 5]?

In [17]:
my_set.remove("banana")
my_set

{'apple', 'cherry', 'orange'}

13. What is the length of a list my_list with elements [1, 2, 3, 4, 5]?

In [18]:
my_list = [1, 2, 3, 4, 5]
len(my_list)

5

14. What will be the result of my_list * 2 if my_list is [1, 2, 3]?

In [20]:
my_list = [1, 2, 3]
my_list * 2

[1, 2, 3, 1, 2, 3]

15. What is the result of set([1,2,2,3,4,4,4,5,5])?

In [21]:
set([1,2,2,3,4,4,4,5,5])

{1, 2, 3, 4, 5}