# <span style="color: MediumPurple;">ICU DATA SET (Class)</span>

### <span style="color: Lightblue;">Sophia Dalal </span>

### Health Data Science Project

##### Importing Packages

In [2]:
import pandas as pd 
from scipy import stats

#### Data Import

In [8]:
# Create a variable called 'url' to store the URL of the data set 
url = "https://raw.githubusercontent.com/juanklopper/TutorialData/refs/heads/main/ICU_Mortality.csv"

In [9]:
# Import the 'url' into pandas DataFrame 
df = pd.read_csv(url)

In [10]:
# Verify the size of 'df'
df.shape

(311, 6)

In [11]:
# Show the column headers
df.columns

Index(['Mortality', 'Age', 'WCC', 'HB', 'Diabetes', 'Class'], dtype='object')

In [13]:
# Show the first 5 rows of the DataFrame
df.head()

  Mortality  Age   WCC    HB Diabetes           Class
0      Died   69  12.0  11.7      NaN  Non-infectious
1      Died   73   9.0  13.2      NaN  Non-infectious
2      Died   53  16.4  11.1      NaN  Non-infectious
3      Died   74  10.1  11.2  Type II      Infectious
4      Died   69  10.2  15.0   Type I      Infectious

In [14]:
# Show info about 'df'
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Mortality  311 non-null    object
 1   Age        311 non-null    int64
 2   WCC        311 non-null    float64
 3   HB         311 non-null    float64
 4   Diabetes   213 non-null    object
 5   Class      311 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 14.7+ KB

#### Categorical Data

In [15]:
# Show the first 10 rows of the "Mortality" column
df['Mortality'].head(10)

0    Died
1    Died
2    Died
3    Died
4    Died
5    Died
6    Died
7    Died
8    Died
9    Died
Name: Mortality, dtype: object

In [16]:
# Show the unique values for the "Mortality" column
df['Mortality'].unique()

array(['Died', 'Survived'], dtype=object)

In [17]:
# Calculate the frequency of each category in the "mortality" column 
df['Mortality'].value_counts()

Mortality
Survived    207
Died        104
Name: count, dtype: int64

In [18]:
# Calculate the proportion of each category in the "Mortality" column
df['Mortality'].value_counts(normalize=True)

Mortality
Survived    0.665595
Died        0.334405
Name: proportion, dtype: float64

In [20]:
# Calculate the percetage of each category in the "Mortality" column 
df['Mortality'].value_counts(normalize=True) * 100

Mortality
Survived    66.559486
Died        33.440514
Name: proportion, dtype: float64

In [25]:
# Show the unique values for the "Class" column
df['Class'].unique()

array(['Non-infectious', 'Infectious'], dtype=object)

In [22]:
# Calculate the frequency of each category in the "Class" column 
df['Class'].value_counts()

Class
Non-infectious    161
Infectious        150
Name: count, dtype: int64

In [23]:
# Calculate the proportion of each category in the "Class" column
df['Class'].value_counts(normalize=True)

Class
Non-infectious    0.517685
Infectious        0.482315
Name: proportion, dtype: float64

In [24]:
# Calculate the percetage of each category in the "Class" column 
df['Class'].value_counts(normalize=True) * 100

Class
Non-infectious    51.768489
Infectious        48.231511
Name: proportion, dtype: float64

In [27]:
# Create me a table that can show me the association between the "Mortality" and "Class" columns
pd.crosstab(df['Mortality'], df['Class'])

Class      Infectious  Non-infectious
Mortality
Died               49              55
Survived          101             106

In [28]:
# Change the order (Categorical and then categorical)
pd.crosstab(df.Class, df.Mortality)

Mortality       Died  Survived
Class
Infectious        49       101
Non-infectious    55       106

#### Comparative numerical analysis

In [31]:
# Calculate the mean of the "Age" Column for each of the "Mortality categories (Categorical and then Numerical )
df.groupby('Mortality').Age.mean()

Mortality
Died        61.125000
Survived    54.111111
Name: Age, dtype: float64

#### Numerical Data analysis

In [32]:
# Calculate the mean of the "age" column 
df['Age'].mean()

np.float64(56.456591639871384)

In [36]:
# Calculate the sample standard deviation of the "Age" colum (you want to make sure it defaults to sample (n-1 denominator and not n)!)
df['Age'].std(ddof=1)

np.float64(10.974334278749502)

In [34]:
df.Age.std()

np.float64(10.974334278749502)

In [38]:
# Describe the summary statistics of the "Age Column"
df.Age.describe()

count    311.000000
mean      56.456592
std       10.974334
min       23.000000
25%       49.000000
50%       56.000000
75%       64.000000
max       85.000000
Name: Age, dtype: float64

In [39]:
# Describe the summary stats for the age column for each category in the mortality column 
df.groupby('Mortality').Age.describe()

           count       mean        std   min    25%   50%   75%   max
Mortality
Died       104.0  61.125000   9.738012  45.0  52.75  61.0  69.0  77.0
Survived   207.0  54.111111  10.830209  23.0  47.00  53.0  60.0  85.0

In [40]:
# Now do this for a numerical X numerical relationship. Calculate the correlation between "Age" and "WCC" columns
df.Age.corr(df.WCC)

np.float64(-0.0028512391858659136)

# <span style="color: MediumPurple;">Quiz Questions: </span>

<span style="color: Lightblue;">1. How do you import the pandas package in Python?

import pandas as pd</span>

<span style="color: Lightblue;">2. What function do you use to read a CSV file in pandas?

pd.read_csv('filename.csv')</span>

<span style="color: Lightblue;">3. How do you display the first 5 rows of a DataFrame in pandas?

df.head()</span>

<span style="color: Lightblue;">4. How do you calculate the mean of a column named Age in a DataFrame named df?

df['Age'].mean()</span>

<span style="color: Lightblue;">5. How do you calculate the median of a column named Salary in a DataFrame named df?

df['Salary'].median()</span>

<span style="color: Lightblue;">6. How do you calculate the standard deviation of a column named Score in a DataFrame named df?

df['Score'].std()</span>

<span style="color: Lightblue;">7. How do you find the number of missing values in each column of a DataFrame named df?

df.isnull().sum()</span>

<span style="color: Lightblue;">8. How do you calculate the correlation between two columns, Age and Salary, in a DataFrame named df?

df['Age'].corr(df['Salary'])</span>

<span style="color: Lightblue;">9. How do you select a subset of a DataFrame df where the column Age is greater than 30?

df[df['Age'] > 30]</span>

<span style="color: Lightblue;">10.How do you calculate the range (maximum - minimum) of a column named Score in a DataFrame named df?


df['Score'].max() - df['Score'].min()</span>

<span style="color: Lightblue;">11. How do you group a DataFrame df by a column named Department and calculate the mean of Salary within each group?


df.groupby('Department')['Salary'].mean()</span>

<span style="color: Lightblue;">12.  How do you group a DataFrame df by two columns, Department and Job Title, and count the number of rows within each group?

df.groupby(['Department', 'Job Title']).size()</span>

<span style="color: Lightblue;">13.  How do you use the groupby method to find the maximum Age in each Department in a DataFrame df?

df.groupby('Department')['Age'].max()</span>

<span style="color: Lightblue;">14.How do you create a cross-tabulation table that shows the frequency count of Department (rows) and Job Title (columns) in a DataFrame df?

pd.crosstab(df['Department'], df['Job Title'])</span>

<span style="color: Lightblue;">15. How do you create a cross-tabulation table that shows the mean Salary for each combination of Department (rows) and Job Title (columns) in a DataFrame df?

pd.crosstab(df['Department'], df['Job Title'], values=df['Salary'], aggfunc='mean')</span>